.jumbotron {
  padding-top: 6rem;
  background-image: url("img/jimbo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -200px;
  /* background-color: #e2f38481; */
}

#projects {
  background-color: #e2f38481;
}

section {
  padding-top: 5rem;
}
