.navbar-brand {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.jumbotron {
  padding-top: 6rem;
  background-image: url("img/small\ jimbo.jpg");
  background-attachment: fixed;
  background-size: cover;
  /* background-position-y: -110px; */
  /* background-color: #e2f38481; */
}

.jumbotron h1,
.jumbotron p {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  font-family: monospace;
  color: aliceblue;
}

#projects {
  background-color: #e2f38481;
}

section {
  padding-top: 5rem;
}

@media only screen and (min-width: 400px) {
  .jumbotron {
    background-image: url("img/jimbo.jpg") !important;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 6rem;
    background-position-y: 110px;
  }

  .jumbotron h1,
  .jumbotron p {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    font-family: monospace;
    color: black;
  }
}
