.jumbotron {
  padding-top: 6rem;
  background-image: url("img/jimbo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -200px;
  /* background-color: #e2f38481; */
}

.jumbotron h1,
.jumbotron p {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
#projects {
  background-color: #e2f38481;
}

section {
  padding-top: 5rem;
}
